body {
  margin: 0;
  overscroll-behavior: none; /* Disable Chrome two fingers back/forward swipe */
  user-select: none;  /* Prevent accidental selection while dragging mouse */
  -webkit-user-select: none;  /* ditto, for iOS */
  touch-action: none;

  background-color: #222222;
  color: white;
}